#title {
    color: grey;
}

.garchig {
    display: inline-block;
    color: blue;
    font-size: 30px;
    background: linen;
    height: 100px;
    width: 200px;
    border: 5px solid green;
}

h4 {
    color: brown;
}